﻿<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/linearicons/style.css" />
    <link rel="stylesheet" href="~/assets/vendor/chartist/css/chartist-custom.css" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <link rel="stylesheet" href="~/assets/css/demo.css" />
    <script src="~/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png" />
    @*<script src="assets/skroll.js"></script>*@
    <reference path="jquery-1.9.1.intellisense.js" />
    <script type="text/javascript">
        var rev = "fwd";
        function titlebar(val) {
            var msg = "First Page";
            var res = " ";
            var speed = 100;
            var pos = val;

            msg = " ..:: " + msg + " ::..";
            var le = msg.length;
            if (rev == "fwd") {
                if (pos < le) {
                    pos = pos + 1;
                    scroll = msg.substr(0, pos);
                    document.title = scroll;
                    timer = window.setTimeout("titlebar(" + pos + ")", speed);
                }
                else {
                    rev = "bwd";
                    timer = window.setTimeout("titlebar(" + pos + ")", speed);
                }
            }
            else {
                if (pos > 0) {
                    pos = pos - 1;
                    var ale = le - pos;
                    scrol = msg.substr(ale, le);
                    document.title = scrol;
                    timer = window.setTimeout("titlebar(" + pos + ")", speed);
                }
                else {
                    rev = "fwd";
                    timer = window.setTimeout("titlebar(" + pos + ")", speed);
                }
            }
        }

        titlebar(0);
    </script>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-fixed-top bg-nav">
            <div class="brand bg-transparent" style="padding: 9px 39px!important">
                <a href="#">
                    <p style="color: #fff; font-size: 20px; margin: 1px 0px 7px; font-weight: bold;">
                        FIRST PAGE
                    </p>
                </a>
            </div>


            <div class="container-fluid">
                <div class="navbar-btn navbtn-padding" style="padding: 2px 0;">
                    <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
                </div>



                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- User Menu-->
                        <span id="lbl_username" class="hidden-xs" style="font-size: 16px;color: white;font-family: verdana;margin: 14px 0px;"></span>

                        <li class="dropdown">
                            <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><img src="" id="imgProfile" class="imgprff" /></a>
                            <ul class="dropdown-menu settings-menu dropdown-menu-right">
                                <li><a class="dropdown-item" href="/dashboard/Myprofile" onclick="myprofile()"><i class="fa fa-user fa-lg"></i>My Profile</a></li>
                                <li><a class="dropdown-item" href="/dashboard/ChangePassword"><i class="fa fa-key fa-lg"></i> Change Password</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("logout",new {Controller="dashboard" }) "><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="sidebar-nav" class="sidebar body-bg">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li>
                            <a href="~/dashboard/Default"><span>Dashboard</span> </a>

                        </li>
                        <li>
                            <a href="#subPages" data-toggle="collapse" class="collapsed" aria-expanded="false"><span>Admin</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="subPages" class="collapse" aria-expanded="false" style="height: 0px;">
                                <ul class="nav">
                                    <li><a class="treeview-item" href="~/dashboard/AdminRegistration"><i class="icon fa fa-circle-o"></i> Register here</a></li>
                                    @*<li><a class="treeview-item" href="~/dashboard/Registration_Detail"><i class="icon fa fa-circle-o"></i> Details</a></li>*@
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#subPages1" data-toggle="collapse" class="collapsed" aria-expanded="false"><span>Customer</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="subPages1" class="collapse" aria-expanded="false" style="height: 0px;">
                                <ul class="nav">
                                    <li><a class="treeview-item" href="~/dashboard/CustomerRegistration"><i class="icon fa fa-circle-o"></i> Register here</a></li>
                                    @*<li><a class="treeview-item" href="~/dashboard/Registration_Detail"><i class="icon fa fa-circle-o"></i> Details</a></li>*@
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#subPages2" data-toggle="collapse" class="collapsed" aria-expanded="false"><span>Email</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="subPages2" class="collapse" aria-expanded="false" style="height: 0px;">
                                <ul class="nav">
                                    <li><a class="treeview-item" href="~/dashboard/SendIndivisualMail"><i class="icon fa fa-circle-o"></i> Send Indivisual Mail</a></li>
                                    <li><a class="treeview-item" href="~/dashboard/SendCommonMail"><i class="icon fa fa-circle-o"></i> Send Common Mail</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="~/dashboard/CallbackRequests"><span>Callback Requests</span> </a>

                        </li>
                        <li>
                            <a href="~/dashboard/FeedBack_Details"><span>Manage feedbacks</span> </a>

                        </li>
                    </ul>

                </nav>
            </div>
        </div>
        @RenderBody()
        <footer>
            <div class="container-fluid">
                <div class="col-lg-12" style="margin-top: 0.5%;">
                    <span>Designed & Developed by </span>
                    @*<a href="http://devapp.com/" target="_blank"><img src="img/logsm.png" /></a>*@
                </div>
            </div>
        </footer>
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="~/assets/vendor/chartist/js/chartist.min.js"></script>
    <script src="~/assets/scripts/klorofil-common.js"></script>
    @if (Session["userid"] != null)
    {

    }
    else
    {
        <script>
            window.location.href = "/login/index";
        </script>
    }
    <script>
        $(document).ready(function () {
            $(function () {
                $.ajax({
                    type: "GET",
                    url: "/login/SelectAdminbyloginid",
                    data: '{}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        $("#lbl_username").text(response[0].Name);
                        if (response[0].image != "") {
                            $("#imgProfile").attr('src', response[0].image);
                        }
                        else {
                            $("#imgProfile").attr('src', "http://placehold.it/150x150");
                        }
                    },
                    failure: function (response) {
                        alert(response);
                    },
                    error: function (response) {
                        alert(response);
                    }
                });
            })

        });
    </script>
</body>
</html>
