﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <style>
        body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background: url(../images/bg.jpg) ;
    background-size:cover;
}
        .login-sec {
    background: #ffffff;
    position: relative;
    margin-top: 90px;
    padding:30px 20px 44px;
    box-shadow: 2px 2px 9px 2px #a5a5a542;
}
        .float-right {
    float: right!important;
}
        .login-sec .copy-text {
    position: relative;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: left;
    margin-top: 72px;
}
        .mt10 {
    margin-right: 10px;
}

        .toggle-password {
            position: absolute;
            top: 70.2%;
            right: 22px;
            z-index: 1;
            margin-top: -10px;
            cursor: pointer;
            transition: .3s ease all;
        }

        @@media only screen and (max-width:767px) {
            .toggle-password {
                top: 71.8%;
            }
        }

        @@media only screen and (min-width:768px) and (max-width:992px) {
            .toggle-password {
                top: 78.5%;
            }
        }
    </style>

</head>
<body>

    <div>
        @RenderBody()
    </div>
</body>
</html>
