﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/login.cshtml";
}


<section class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-12 col-sm-12"></div>
            <div class="col-lg-4 col-xs-12 col-sm-12 login-sec">
                <center>
                    <a href="~/Web/Index">
                        <img src="~/images/logo.png" alt="Avatar" style="width: 75%;margin-bottom:30px" class="avatar" />
                    </a>
                </center>
                <form class="login-form" id="form">

                    <div class="form-group">
                        <label for="exampleInputEmail1" class="text-uppercase">Username</label>
                        <input type="text" class="form-control" placeholder="Enter Username" id="uname" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                        <span toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password"></span>
                        <input type="password" class="form-control ptxt" placeholder="Enter Password" id="psw" required>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" checked="checked" name="remember" class="form-check-input">
                            <small>Remember Me</small>
                        </label>
                        <button type="button" class="cancelbtn btn btn-danger  float-right">Cancel</button>
                        <button type="button" id="submit" class="btn btn-success float-right mt10">Login</button>
                    </div>
                </form>
                <div class="copy-text"> <a href="#">Forgot password</a></div>
            </div>

        </div>
    </div>
</section>

<script src="~/js/responsive.js"></script>
<script src="~/js/jquery.js"></script>
<script src="~/assets/scripts/jquery-library.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#submit").on('click', function () {
            debugger;
            var uname = $("#uname").val();
            var psw = $("#psw").val();
            var linkdata =
            {
                Usr_Nm: $("#uname").val(),
                Pwd: $("#psw").val()
            };
            if (uname = '') {
                alert("Please give user Name");
                return false;
            }
            if (psw = '') {
                alert("Please give Emailid");
                return false;
            }
            else {
                debugger;
                $.ajax({

                    type: "POST",
                    url: "/Login/LoginData/",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({ theUser: linkdata }),
                    error: function (response) {
                        alert(response);
                    },
                    success: function (response) {
                        if (response == "User Exists") {
                            window.location.href = "/dashboard/Default";
                        }
                        else {
                            alert(response);
                        }


                    }
                });
            }
        });

        var input = $("#psw");
        input.on("keyup", function (event) {
            debugger;
            if (event.keyCode === 13) {
                event.preventDefault();
                $("#submit").click();
            }
        });
        $(function () {
            debugger;

            if (localStorage.chkbx && localStorage.chkbx != '') {
                $('#remember_me').attr('checked', 'checked');
                $('#uname').val(localStorage.usrname);
                $('#psw').val(localStorage.pass);
            } else {
                $('#remember_me').removeAttr('checked');
                $('#uname').val('');
                $('#psw').val('');
            }

            $('#remember_me').click(function () {

                if ($('#remember_me').is(':checked')) {
                    // save username and password
                    localStorage.usrname = $('#uname').val();
                    localStorage.pass = $('#psw').val();
                    localStorage.chkbx = $('#remember_me').val();
                } else {
                    localStorage.usrname = '';
                    localStorage.pass = '';
                    localStorage.chkbx = '';
                }
            });
        });

        $(".toggle-password").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    });
</script>
