﻿
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page_head">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">


                <div class="page_title">
                    <h2>about Us  </h2>
                    <!--<span class="sub_heading">We are here for you 24/7</span>-->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature_bottom">
    <div class="container">
        <div class="row sub_content">
            <div class="who">
            
               
                <div class="col-lg-9 col-sm-12">

                    <div class="dividerHeading">

                        <h4><span>Welcome to FIRST PAGE  </span></h4>
                    </div>
                    <p style="text-align:justify;line-height:130%;color:#333">
                         FIRST PAGE is a ISO certified company, which provides best printing services. It is involved in Manufacture of structural metal products, sinages and Road safety signages.
                    <p>
                    <p style="text-align:justify;line-height:130%;color:#333">
                        We serve best services to our client. We print according to your thoughts and ideas which look alive. Our only mission to provide client best quality printed outputs. We provide that type of services, you can easily trust. Quality is our strength. Accountability and cooperative relationship with our customer is unique. We are determined in preserving for the environment. Our final goal is to satisfy our customers.
                    </p>
                    <p style="text-align:justify;line-height:130%;color:#333">
                        We offer quality printing like Flex & Vinyl, Auto Sticker, Eco Solvent, Backlit Flex, 4 Colour Offset, Single Colour Offset, Digital Print, Visiting Card, Birthday Card, Letter Head, Certificate, GST Bill, Leaflet, Money Receipt, Screen Print, LED Signage, Hotel Menu, Calendars, Business Cards and many more. </p>
                    <div class="m-t-30">
                        <h3 style="color:#222;text-align:center;font-size:34px;padding:10px">Services</h3>
                        <div class="col-sm-3  iconsingle">
                            <center>
                                <img alt="" src="https://cms.bhubaneswarone.in/uploadDocuments/content/Health-Sanitation.png">
                            </center>
                            <h4>LED SIGNAGE</h4>
                        </div>

                        <div class="col-sm-3  iconsingle">
                            <center>
                                <img alt="" src="https://cms.bhubaneswarone.in/uploadDocuments/content/Slum-development.png">
                            </center>
                            <h4>FABRICATION DIVISION</h4>
                        </div>

                        <div class="col-sm-3  iconsingle">
                            <center>
                                <img alt="" src="https://cms.bhubaneswarone.in/uploadDocuments/content/Disaster_Managementt.png">
                            </center>
                            <h4>ROAD SAFETY</h4>
                        </div>

                        <div class="col-sm-3  iconsingle">
                            <center>
                                <img alt="" src="https://cms.bhubaneswarone.in/uploadDocuments/content/City-Beautification.png">
                            </center>
                            <h4>SIGNAGE DIVISION</h4>
                        </div>

                        <div class="col-sm-3  iconsingle">
                            <center>
                                <img alt="" src="https://cms.bhubaneswarone.in/uploadDocuments/content/Citizen_Services.png">
                            </center>
                            <h4>ADVERTISING DIVISION</h4>
                        </div>

                        <div class="col-sm-3  iconsingle">
                            <center>
                                <img alt="" src="https://cms.bhubaneswarone.in/uploadDocuments/content/Efficient-Solid-Waste-Management.png">
                            </center>
                            <h4>DESIGNING, FLEX PRINT</h4>
                        </div>

                        <div class="col-sm-3  iconsingle">
                            <center>
                                <img alt="" src="https://cms.bhubaneswarone.in/uploadDocuments/content/Underground_Sewerage-System.png">
                            </center>
                            <h4>OFFSET PRINT DIVISION</h4>
                        </div>

                        <div class="col-sm-3  iconsingle">
                            <center>
                                <img alt="" src="https://cms.bhubaneswarone.in/uploadDocuments/content/Efficient_Urban_Planning_and_Development.png">
                            </center>
                            <h4>DIGITAL PRINT</h4>
                        </div>

                    </div>
                  </div>
                <div class="col-lg-3">
                    <div class="drctbox">
                        <img src="~/images/director.jpg" class="img-responsive" />
                        <p><b>Soumya Kanta Das</b></p>
                        <p>Director</p>
                    </div>
                </div>
            </div>
        </div>
     
        </div>

</section>
