﻿
@{
    ViewBag.Title = "Fabrication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/sky-tabs.css" rel="stylesheet" />
<section style="background:url('../images/bg.jpg');background-size:cover;padding:100px 0px">
    <div class="container">
        <div class="col-lg-12 col-xs-12 col-sm-12 bdbnc">
            <h1>Fabrication</h1>
            <p>We are a leading manufacturer of Traffic & Safety Signage board. which are widely used on various highway roads state gov. and local municipalities, contractors, businesses and individuals.. Fabricated using high grade raw materials, these sign boards are of highly reflective quality, weather resistant and last for a long period of time. We make them accessible in customized specifications as well.</p>

        </div>
    </div>
    <div class="container">

        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="row pdboxc">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/portfolio/18.jpg" class="img-responsive imgt" alt="" />
                            <p>Glow/Sign-Board</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/portfolio/21.jpg" class="img-responsive imgt" alt="" />
                            <p>Glow/Sign-Board</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/portfolio/22.jpg" class="img-responsive imgt" alt="" />
                            <p>Non-lit board</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/portfolio/24.jpg" class="img-responsive imgt" alt="" />
                            <p>Front-lit board</p>
                        </div>
                    </div>
                    </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/portfolio/28.jpg" class="img-responsive imgt" alt="" />
                            @*<p>Iron standee</p>*@
                            <p>Demo van</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/portfolio/27.jpg" class="img-responsive imgt" alt="" />
                            <p>Food van</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/portfolio/29.jpg" class="img-responsive imgt" alt="" />
                            <p>Advertise van</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/portfolio/portfolio_1.jpg" class="img-responsive imgt" alt="" />
                            <p>Iron standee</p>
                        </div>
                    </div>
                    </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/portfolio/19.jpg" class="img-responsive imgt" alt="" />
                            <p>LED signage</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/portfolio/2.jpg" class="img-responsive imgt" alt="" />
                            <p>4 sided lollipop</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/portfolio/13.jpg" class="img-responsive imgt" alt="" />
                            <p>Canopy stall</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/portfolio/15.jpg" class="img-responsive imgt" alt="" />
                            <p>Police barricade</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/portfolio/7.jpg" class="img-responsive imgt" alt="" />
                            <p>Retro signage</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/portfolio/26.jpg" class="img-responsive imgt" alt="" />
                            <p>Retro signage</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
</section>

