﻿
@{
    ViewBag.Title = "FlexPrinting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/sky-tabs.css" rel="stylesheet" />
<section style="background:url('../images/bg.jpg');background-size:cover;padding:100px 0px">
    <div class="container">
        <div class="col-lg-12 col-xs-12 col-sm-12 bdbx">
            <h1>FLEX PRINTING </h1>
            <p>We use the latest in print technology to produce our surface graphics to the highest quality and standard to guarantee an exceptional visual solution. Our production team are highly skilled professionals and experts in transforming what we create on screen into real life design features for your office space.</p>

        </div>
    </div>
    <div class="container">

        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="row pdboxc">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/4.jpg" class="img-responsive imgt" alt="" />
                            <p>ID CARD</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/5.jpg" class="img-responsive imgt" alt="" />
                            <p>ID CARD</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/6.jpg" class="img-responsive imgt" alt="" />
                            <p>Business card</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/7.jpg" class="img-responsive imgt" alt="" />
                            <p>ID CARD</p>
                        </div>
                    </div>
                    </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/portfolio/3.jpg" class="img-responsive imgt" alt="" />
                            @*<p>Iron standee</p>*@
                            <p>Translit print</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/portfolio/32.jpg" class="img-responsive imgt" alt="" />
                            <p>Eco solvent Print</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/portfolio/31.jpg" class="img-responsive imgt" alt="" />
                            <p>Sunboard printing</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/portfolio/13.jpg" class="img-responsive imgt" alt="" />
                            <p>Canopy printing</p>
                        </div>
                    </div>
                    </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/portfolio/33.jpg" class="img-responsive imgt" alt="" />
                            <p>Acrylic sandwich</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/portfolio/34.jpg" class="img-responsive imgt" alt="" />
                            <p>Showcase poster</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/portfolio/35.jpg" class="img-responsive imgt" alt="" />
                            <p>Roll-on standee</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                        <div class="mttop">
                            <img src="~/images/portfolio/36.jpg" class="img-responsive imgt" alt="" />
                            <p>Auto sticker</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

      
    </div>
</section>

