﻿
@{
    ViewBag.Title = "OfficeStationary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/sky-tabs.css" rel="stylesheet" />
<section style="background:url('../images/bg.jpg');background-size:cover;padding:100px 0px">
    <div class="container">
        <div class="col-lg-12 col-xs-12 col-sm-12 bdbx">
            <h1>Office Stationary Offset Printing</h1>
            <p>We are a leading manufacturer of Traffic & Safety Signage board. which are widely used on various highway roads state gov. and local municipalities, contractors, businesses and individuals.. Fabricated using high grade raw materials, these sign boards are of highly reflective quality, weather resistant and last for a long period of time. We make them accessible in customized specifications as well.</p>
            <p>We offers many items, including road traffic signs, street name signs, parking & handicapped signs, construction and custom signs. Our staff has extensive experience in the traffic industry as well as construction, work zone and graphic arts.</p>

        </div>
    </div>
    <div class="container">

            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="row pdboxc">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                            <div class="mttop">
                                <img src="~/images/portfolio/off1.jpg" class="img-responsive imgt" alt="" />
                                <p>Menu</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                            <div class="mttop">
                                <img src="~/images/portfolio/off2.jpg" class="img-responsive imgt" alt="" />
                                <p>Birthday card</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                            <div class="mttop">
                                <img src="~/images/portfolio/off3.jpg" class="img-responsive imgt" alt="" />
                                <p>Food thai menu</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                            <div class="mttop">
                                <img src="~/images/portfolio/off4.jpg" class="img-responsive imgt" alt="" />
                                <p>Birthday card</p>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                <div class="mttop">
                                    <img src="~/images/portfolio/off5.jpg" class="img-responsive imgt" alt="" />
                                    <p>Menu Card</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                <div class="mttop">
                                    <img src="~/images/portfolio/off6.jpg" class="img-responsive imgt" alt="" />
                                    <p>Menu</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                <div class="mttop">
                                    <img src="~/images/portfolio/6.jpg" class="img-responsive imgt" alt="" />
                                    <p>Single colour offset</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                <div class="mttop">
                                    <img src="~/images/portfolio/58.jpg" class="img-responsive imgt" alt="" />
                                    <p>4 color offset-printing machine</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                <div class="mttop">
                                    <img src="~/images/portfolio/11.jpg" class="img-responsive imgt" alt="" />
                                    <p>Birthday card</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                <div class="mttop">
                                    <img src="~/images/portfolio/43.jpg" class="img-responsive imgt" alt="" />
                                    <p>Letter Head</p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                <div class="mttop">
                                    <img src="~/images/portfolio/17.jpg" class="img-responsive imgt" alt="" />
                                    @*<p>Iron standee</p>*@
                                    <p>Certificate</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                <div class="mttop">
                                    <img src="~/images/portfolio/44.jpg" class="img-responsive imgt" alt="" />
                                    <p>Bill Book</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                <div class="mttop">
                                    <img src="~/images/portfolio/16.jpg" class="img-responsive imgt" alt="" />
                                    <p>Leaflet</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                <div class="mttop">
                                    <img src="~/images/portfolio/12.jpg" class="img-responsive imgt" alt="" />
                                    <p>Flyer</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                <div class="mttop">
                                    <img src="~/images/portfolio/45.jpg" class="img-responsive imgt" alt="" />
                                    <p>Screen printing</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                <div class="mttop">
                                    <img src="~/images/portfolio/1.jpg" class="img-responsive imgt" alt="" />
                                    <p>Note Book</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                <div class="mttop">
                                    <img src="~/images/portfolio/34.jpg" class="img-responsive imgt" alt="" />
                                    <p>Poster</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                <div class="mttop">
                                    <img src="~/images/portfolio/59.jpg" class="img-responsive imgt" alt="" />
                                    <p>Firstpage Notebook</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                <div class="mttop">
                                    <img src="~/images/portfolio/47.jpg" class="img-responsive imgt" alt="" />
                                    <p>Official cover file</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

     
    </div>
</section>

