﻿
@{
    ViewBag.Title = "ROAD_SAFETY_EQUIPEMENTS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/sky-tabs.css" rel="stylesheet" />
<section style="background:url('../images/bg.jpg');padding:100px 0px">
    <div class="container">
        <div class="col-lg-12 col-xs-12 col-sm-12 bdbnc">
            <h1>Fabrication</h1>
            <p>We are a leading manufacturer of Traffic & Safety Signage board. which are widely used on various highway roads state gov. and local municipalities, contractors, businesses and individuals.. Fabricated using high grade raw materials, these sign boards are of highly reflective quality, weather resistant and last for a long period of time. We make them accessible in customized specifications as well.</p>
           
        </div>
    </div>
    <div class="container">
        <div class="sky-tabs sky-tabs-pos-top-left sky-tabs-anim-flip sky-tabs-response-to-stack">
            <input type="radio" name="sky-tabs" checked id="sky-tab1" class="sky-tab-content-1">
            <label for="sky-tab1"><span><span><i class="fa fa-bolt"></i>Glow/Sign-Board</span></span></label>

            <input type="radio" name="sky-tabs" id="sky-tab2" class="sky-tab-content-2">
            <label for="sky-tab2"><span><span><i class="fa fa-picture-o"></i>DemoVan</span></span></label>

            <input type="radio" name="sky-tabs" id="sky-tab3" class="sky-tab-content-3">
            <label for="sky-tab3"><span><span><i class="fa fa-cogs"></i>Sandwitch</span></span></label>

            <input type="radio" name="sky-tabs" id="sky-tab4" class="sky-tab-content-4">
            <label for="sky-tab4"><span><span><i class="fa fa-globe"></i>Canopy Tent</span></span></label>
            <input type="radio" name="sky-tabs" id="sky-tab5" class="sky-tab-content-5">
            <label for="sky-tab5"><span><span><i class="fa fa-globe"></i>Led Board</span></span></label>
            <ul>
                <li class="sky-tab-content-1">
                    <div class="typography">
                        <div id="rousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#rousel" data-slide-to="0" class="active"></li>
                                <li data-target="#rousel" data-slide-to="1"></li>
                                @*<li data-target="#myCarousel" data-slide-to="2"></li>*@
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="~/images/7.jpg" alt="Los Angeles" style="width:100%;height:218px">
                                </div>

                                <div class="item">
                                    <img src="~/images/18.jpg" alt="Chicago" style="width:100%;height:218px">
                                </div>

                            </div>


                        </div>
                        <h1>Glow/Sign-Board</h1>
                        <p>We are leading Supplier, Dealer & Retailer of Safety Studs. These road studs are used in roads for lane division and are manufactured by using supreme quality of raw material.</p>
                        <p> With the help of our dedicated team of professionals, we are engaged in manufacturing and supplying a wide range of Cat Eye Road Studs. These studs are manufactured using quality assured raw materials and other components that are sourced from authorized vendors of the market. Our range of studs is made available in different sizes, grades and specifications as demanded by our esteemed clients. These studs are thoroughly checked on various parameters like seamless finish and high strength. We are offering these Cat Eye Road Studs in tamper proof packaging to ensure secure shipment.</p>
                        <ul class="bottommargin">

                            <li>
                                <b class="clrtb">Easy installation</b>
                            </li>
                            <li>
                                <b class="clrtb">Long lasting</b>
                            </li>
                            <li>
                                <b class="clrtb">High material strength</b>
                            </li>
                            <li>
                                <b class="clrtb"> High performance</b>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="sky-tab-content-2">
                    <div class="typography">

                        <div id="arousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#arousel" data-slide-to="0" class="active"></li>
                                <li data-target="#arousel" data-slide-to="1"></li>
                                @*<li data-target="#arousel" data-slide-to="2"></li>*@
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="~/images/19.jpg" alt="Los Angeles" style="width:100%;height:218px">
                                </div>

                                <div class="item">
                                    <img src="~/images/14.jpg" alt="Chicago" style="width:100%;height:218px">
                                </div>

                                @*<div class="item">
                                        <img src="~/images/18.jpg" alt="New york" style="width:100%;height:218px">
                                    </div>*@
                            </div>

                            <!-- Left and right controls -->
                            @*<a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                  <span class="glyphicon glyphicon-chevron-left"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                  <span class="glyphicon glyphicon-chevron-right"></span>
                                  <span class="sr-only">Next</span>
                                </a>*@
                        </div>
                        <h1>DemoVan</h1>
                        <p>We supply excellent Reflective Median Markers in a variety of options in accordance with customers’ requirements. The Median Marker provided by us, is a trapezoidal isosceles structure made of a black, high durable plastic rounded at its acute angle and resting on its rectangular base. The thickness of this material shall not be less than 3mm.</p>
                        <p> A highly durable and cost-effective collection of median markers are offered by us to gratify our clients. Our range is visible from distant during night and free from rust. It thus enables in reducing accidents and also increase safety on the roads. We offer innovative kinds of Median Markers which are highly preferred by our customers’ and score on quotients like high durability, effective quality, reliability, exclusive prices and long life.</p>

                    </div>
                </li>

                <li class="sky-tab-content-3">
                    <div class="typography">
                        <div id="rousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#rousel" data-slide-to="0" class="active"></li>
                                <li data-target="#rousel" data-slide-to="1"></li>
                                @*<li data-target="#myCarousel" data-slide-to="2"></li>*@
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="~/images/6.jpg" alt="Los Angeles" style="width:100%;height:218px">
                                </div>

                                <div class="item">
                                    <img src="~/images/9.jpg" alt="Chicago" style="width:100%;height:218px">
                                </div>

                            </div>


                        </div>
                        <h1>Sandwitch</h1>
                        <p>we are supplying speed breakers, which are made from high grade rubber and PVC. These Speed Breakers are highly resistant to various impacts and harsh weather conditions.We provide speed breakers with reflectors and glass metals to make them suitable for night vision.</p>
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <ul class="bottommargin">
                                <p><b>Range :</b></p>
                                <li>
                                    <b class="clrtb">Road Speed Breaker</b>
                                </li>
                                <li>
                                    <b class="clrtb"> Road Hump</b>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <ul class="bottommargin">
                                <p><b>Features :</b></p>
                                <li>
                                    <b class="clrtb">Compact design</b>
                                </li>
                                <li>
                                    <b class="clrtb">Easy to install on the road</b>
                                </li>
                                <li>
                                    <b class="clrtb">Durable</b>
                                </li>

                            </ul>
                        </div>
                    </div>
                </li>

                <li class="sky-tab-content-4">
                    <div class="typography">
                        <div id="ousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#ousel" data-slide-to="0" class="active"></li>
                                <li data-target="#ousel" data-slide-to="1"></li>
                                @*<li data-target="#myCarousel" data-slide-to="2"></li>*@
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="~/images/15.jpg" alt="Los Angeles" style="width:100%;height:218px">
                                </div>

                                <div class="item">
                                    <img src="~/images/14.jpg" alt="Chicago" style="width:100%;height:218px">
                                </div>

                            </div>


                        </div>
                        <h1>Canopy Tent</h1>
                        <p>Innovation is our forte and we strive to design and develop a precision engineered range of highly efficientTraffic Control Equipment.</p>
                        <p> Our product range also includes Plastic Traffic Cones, Plastic Stand Post, Plastic Barricading Chain, Spring Post, Message Cone, , Barricading Tape, Light Baton and Metal Delineator Post. These products are manufactured using high grade quality material and latest technology in adherence with industry's laid norms and standards. Further, these product are known for their efficiency and durability.</p>
                    </div>
                </li>
                <li class="sky-tab-content-5">
                    <div class="typography">
                        <div id="usel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#usel" data-slide-to="0" class="active"></li>
                                <li data-target="#usel" data-slide-to="1"></li>
                                @*<li data-target="#myCarousel" data-slide-to="2"></li>*@
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="~/images/8.jpg" alt="Los Angeles" style="width:100%;height:218px">
                                </div>

                                <div class="item">
                                    <img src="~/images/10.jpg" alt="Chicago" style="width:100%;height:218px">
                                </div>

                            </div>


                        </div>
                        <h1>Led Board</h1>
                        <p>We are involved in manufacturing and supplying a vast range of Road Marking Paint. Excellent quality material that is sourced from vendors of high repute is used by our professionals to process the offered range. Post-processing, these products are stringently inspected on certain parameters of quality so as to ensure their flawlessness.</p>
                        <p>Moreover, we offer our range in various specifications to clients.</p>
                        <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
                            <ul class="bottommargin">
                                <p><b>Applications :</b></p>
                                <li>
                                    <b class="clrtb">National, state highways, other roads</b>
                                </li>
                                <li>
                                    <b class="clrtb">Private roads</b>
                                </li>
                                <li>
                                    <b class="clrtb">Car parking lots (consulting/design services available)</b>
                                </li>
                                <li>
                                    <b class="clrtb">Driveways (decorative effects)</b>
                                </li>
                                <li>
                                    <b class="clrtb"> Pedestrian crossings (heighten visibility & skid resistance)</b>
                                </li>
                                <li>
                                    <b class="clrtb">Safety walkways</b>
                                </li>
                                <li>
                                    <b class="clrtb">Demarcations in factory and workshop (safety areas, gangways fork lift truck routes)</b>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
                            <ul class="bottommargin">
                                <p><b>Features :</b></p>
                                <li>
                                    <b class="clrtb"> Hot applied excellent bonding with asphalt and concrete</b>
                                </li>
                                <li>
                                    <b class="clrtb">Retro reflective glass beads offers superior night time visibility</b>
                                </li>
                                <li>
                                    <b class="clrtb">Long lasting with performance</b>
                                </li>
                                <li>
                                    <b class="clrtb">Color options</b>
                                </li>
                                <li>
                                    <b class="clrtb"> Improves road safety and aesthetics</b>
                                </li>
                                <li>
                                    <b class="clrtb">Image/Video Static</b>
                                </li>

                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

