﻿
@{
    ViewBag.Title = "vision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page_head">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">


                <div class="page_title">
                    <h2>Vision </h2>
                    <!--<span class="sub_heading">We are here for you 24/7</span>-->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature_bottom">
    <div class="container">
        <div class="row sub_content">
            <div class="who">


                <div class="col-lg-12 col-sm-12">

                    <div class="dividerHeading">
                        <img src="~/images/122.png" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


