﻿
@{
    ViewBag.Title = "CallbackRequests";
    Layout = "~/Views/Shared/dashboard.cshtml";
}



<div class="main">

    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="panel-heading">
                <h3 class="panel-title">Manage contact Requests </h3>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>

                        <th>
                            Subject
                        </th>
                        <th>
                            Message
                        </th>

                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody class="tbody"></tbody>
            </table>
        </div>
    </div>
</div>
<script>


    $(document).ready(function () {


        loadData();

    });
     function loadData() {

        debugger;
        $.ajax({
            url: "/dashboard/SelectFeedBackDetails",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.id + '</td>';
                    html += '<td>' + item.sub + '</td>';
                    html += '<td>' + item.message + '</td>';
                     html += '<td>' + item.sub + '</td>';
                    html += '<td>' + item.message + '</td>';
                    html += '<td><a href="#" id="isrespond" class="btn btn-success" onclick="return visibility(' + item.id + ')">Got Respond??</a></td>';
                    html += '</tr>';
                });
                $('.tbody').html(html);

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function visibility(id) {
        var ans = confirm("Are you sure you got response for this mail and wanna clear history??");
        if (ans) {
            $.ajax({
                url: "/dashboard/DisableFeedBack/" + id,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    alert(result);
                    loadData();

                    $('#isrespond').css('visibility', 'hidden');
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }
</script>

