﻿
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/dashboard.cshtml";
}

<style>
    .main {
        border: 1px solid gray;
        width: 400px;
        height: 240px;
        margin-top: 10px;
        margin-left: 350px;
    }

    .header {
        background-color: dodgerblue;
        height: 30px;
        margin-bottom: 26px;
    }

    .header_text {
        margin-left: 96px;
        color: white;
        font-size: 20px;
    }

    .newdesg {
        color: white;
        background-color: dodgerblue;
        border: none;
        cursor: pointer;
        height: 30px;
        position: absolute;
        margin-top: 36px;
        margin-left: 100px;
    }

    .error {
        color: red;
        border: 1px solid red;
        position: absolute;
        margin-left: 6px;
        height: 25px;
    }
</style>
<div style="height:100%">
    <div class="main">
        <div class="header">
            <span class="header_text">Change Password</span>
        </div>
        <div style="margin-left:30px;">
            <input type="hidden" id="hdnusrname" value="" />
            <table>
                <tr id="oldddpwd">
                    <td>Old Password:</td>
                    <td><input type="password" value="" id="oldpwd" /></td>
                </tr>
                <tr style="height:10px;"></tr>
                <tr>
                    <td>New Password:</td>
                    <td><input type="password" value="" id="newpwd" /></td>
                </tr>
                <tr style="height:10px;"></tr>
                <tr>
                    <td>Confirm Password:</td>
                    <td><input type="password" value="" id="conpwd" /></td>
                </tr>
                <tr>
                    <td>
                        <input type="button" id="chngpwd" value="Change Password" class="newdesg" />
                        <input type="button" id="resetpwd" value="Reset Password" class="newdesg" style="display:none;" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function ()
    {
        debugger;
        var url = window.location.href;
        var value = url.substring(url.lastIndexOf('/') + 1);
        var data1 = $("#hdnusrname").val(value);
        if (value == "")
        {
            $("#oldddpwd").css('display', 'none');
            $("#resetpwd").css('display', 'block');
            $("#chngpwd").css('display', 'none');
        }
        else
        {

        }
        $("#chngpwd").on('click', function ()
        {
            debugger;
            var url = window.location.href;
            var id = url.substring(url.lastIndexOf('/') + 1);
            var daadat = validationchange();
            if (daadat.length==1)
            {
                return true;
            }
            else
            {
            var pwddata =
              {
                  Usr_Id: id,
                  Pwd:$("#oldpwd").val(),
                  ConfmPwd: $("#newpwd").val()
              };

                $.ajax({
                    type: "POST",
                    url: "/User/NewUser/ChangePassword",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({ theUser: pwddata }),
                    error: function (response) {
                        alert(response);
                    },
                    success: function (response) {
                        alert(response);
                    }
                });

    }
        });
        $("#resetpwd").on('click', function () {
            debugger;
            var url = window.location.href;
            var parts = url.split("/");
            var usrnm = parts[parts.length - 2];
            var daadat = validationreset();
            if (daadat.length == 1) {
                return true;
            }

            else {
                var pwddata =
              {
                  Usr_Nm: usrnm,
                  ConfmPwd: $("#newpwd").val()
              };

                $.ajax({
                    type: "POST",
                    url: "/User/NewUser/ChangePassword",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({ theUser: pwddata }),
                    error: function (response) {
                        alert(response);
                    },
                    success: function (response) {
                        alert(response);
                        // window.location.href = "/User/NewUser/ViewUser";
                    }
                });
            }
        });
        })
    function  validationchange()
    {
        debugger;
        var oldpsswd = $("#oldpwd").val();
        var newpsswd = $("#newpwd").val();
        var conpsswd = $("#conpwd").val();
        $('.error').hide();
        var pwdRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,15}$/;
        if (oldpsswd == "" || newpsswd == "" || conpsswd=="")
        {
            if (oldpsswd == "")
            {
                $('#oldpwd').after('<span class="error"> Please give your old password </span>');
            }
            if (newpsswd == "")
            {
                $('#newpwd').after('<span class="error"> Please give a New password </span>');
            }
            if (conpsswd == "") {
                $('#conpwd').after('<span class="error"> Please give a Confirm password </span>');
            }
        }
        else if (!pwdRegex.test(newpsswd) || !pwdRegex.test(conpsswd))
        {
            if (!pwdRegex.test(newpsswd))
            {
                $('#newpwd').after('<span class="error"> Password contains 6 digits with uppercase, lowercase and number </span>');
            }
            if (!pwdRegex.test(conpsswd)) {
                $('#conpwd').after('<span class="error"> Password contains 6 digits with uppercase, lowercase and number </span>');
            }
        }
        else if (newpsswd != conpsswd)
        {
            $('#conpwd').after('<span class="error"> Password did not match </span>');
        }
        else {
            return 1;
        }
    }
    function validationreset() {
        debugger;

        var newpsswd = $("#newpwd").val();
        var conpsswd = $("#conpwd").val();

        var pwdRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,15}$/;
        $('.error').hide();
        if (newpsswd == "" || conpsswd == "") {
            if (newpsswd == "") {
                $('#newpwd').after('<span class="error"> Please give a New password </span>');
            }
            if (conpsswd == "") {
                $('#conpwd').after('<span class="error"> Please give a Confirm password </span>');
            }
        }
        else if (!pwdRegex.test(newpsswd) || !pwdRegex.test(conpsswd)) {
            if (!pwdRegex.test(newpsswd)) {
                $('#newpwd').after('<span class="error"> Password contains 6 digits with uppercase, lowercase and number </span>');
            }
            if (!pwdRegex.test(conpsswd)) {
                $('#conpwd').after('<span class="error"> Password contains 6 digits with uppercase, lowercase and number </span>');
            }
        }
        else if (newpsswd != conpsswd) {
            $('#conpwd').after('<span class="error"> Password did not match </span>');
        }
        else {
            return 1;
        }
    }
</script>

