﻿
@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/dashboard.cshtml";
}



<style>
    .my-card {
        position: absolute;
        left: 40%;
        top: -20px;
        border-radius: 50%;
    }
</style>


<script src="~/js/counter.js"></script>
<link href="~/css/counter.css" rel="stylesheet" />
<div class="main">

    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">

            <section>
                <div class="container">
                    <div class="row hidden-sm">
                        <div class="col-md-4 col-sm-12">
                            <div class="counter blue">
                                <h3>Callback Requests</h3>
                                <div class="counter-content">
                                    <div class="counter-icon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <span id="callbacks" class="counter-value">1523</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="counter blue">
                                <h3>Feedbacks</h3>
                                <div class="counter-content">
                                    <div class="counter-icon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <span id="feedbacks" class="counter-value">1523</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="counter blue">
                                <h3>Pending mails</h3>
                                <div class="counter-content">
                                    <div class="counter-icon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <span id="pendingmails" class="counter-value">1523</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br /><br /><br /><br />
                    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                </div>
            </section>


        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>

