﻿
@{
    ViewBag.Title = "Myprofile";
    Layout = "~/Views/Shared/dashboard.cshtml";
}

<style>

    .btn-lg {
        padding: 6px 10px !important;
        font-size: 12px !important;
        line-height: 1.33 !important;
        border-radius: 6px !important;
    }

    .img-circle {
        border-radius: 50%;
        height: 170px;
        margin-top: -80px;
        width: 170px;
    }

    .btn-bs-file {
        position: relative;
        margin-top: 0;
    }

        .btn-bs-file input[type="file"] {
            position: absolute;
            top: -9999999;
            filter: alpha(opacity=0);
            opacity: 0;
            width: 0;
            height: 0;
            outline: none;
            cursor: inherit;
        }
</style>
<div class="main">

    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 ">
                    <h2></h2>
                    <div class="card-box ribbon-box prfbx" style="">
                    </div>
                    <div class="card-box ribbon-box " style="margin-top:-22px;">
                        <center class="">
                            <div class="">
                                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" id="imgProfile11" class="avatar img-circle img-thumbnail" alt="avatar">

                            </div>
                        </center>
                        <center class="" style="margin-top:15px">
                            <label class="btn-bs-file btn btn-xs btn-success">
                                Browse

                                <input type="file" id="profilePicture" class="text-center center-block file-upload" />
                            </label>

                            <input type="button" value="Update" id="btn_Submit" class="btn-bs-file btn btn-xs btn-danger" />
                            <h4 class="mt-5"> <span id="lbl_Name"></span></h4>
                        </center>
                        <div class="row">

                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <h4 class="hdttll">  Profile Details</h4>

                            </div>
                        </div>
                        <div class="row ppaddng">
                            <div class="col-lg-12 col-xs-12 col-sm-12 even">
                                <div class="col-lg-6 col-xs-12 col-sm-12">
                                    <p class="profile-content">
                                        <b>Role Name</b> : <span id="lbl_Rolename"></span>
                                    </p>
                                </div>
                                <div class="col-lg-6 col-xs-12 col-sm-12">
                                    <p class="profile-content">
                                        <b>Name</b> : <span id="lbl_Username"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row ppaddng">
                            <div class="col-lg-12 col-xs-12 col-sm-12 odd">
                                <div class="col-lg-6 col-xs-12 col-sm-12">
                                    <p class="profile-content">
                                        <b>Outlet Name</b> : <span id="lbl_Outletame"></span>
                                    </p>
                                </div>
                                <div class="col-lg-6 col-xs-12 col-sm-12">
                                    <p class="profile-content">
                                        <b>Employee Code</b> : <span id="lbl_Empcode"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row ppaddng">
                            <div class="col-lg-12 col-xs-12 col-sm-12 even">
                                <div class="col-lg-6 col-xs-12 col-sm-12">
                                    <p class="profile-content">
                                        <b>Department Name</b> : <span id="lbl_Deptname">OUTLET</span>
                                    </p>
                                </div>
                                <div class="col-lg-6 col-xs-12 col-sm-12">
                                    <p class="profile-content">
                                        <b>Email Id</b> : <span id="lbl_Emailid"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row ppaddng" style="margin-bottom:40px">
                            <div class="col-lg-12 col-xs-12 col-sm-12 odd">
                                <div class="col-lg-6 col-xs-12 col-sm-12">
                                    <p class="profile-content">
                                        <b>Designation Name</b> : <span id="lbl_Desgname"></span>
                                    </p>
                                </div>
                                <div class="col-lg-6 col-xs-12 col-sm-12">
                                    <p class="profile-content">
                                        <b>Phone No</b> : <span id="lbl_PhoneNo"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        

<script>
    $(document).ready(function () {
        getUserDetailsByLoggedInUser();


        $("#btn_Submit").click(function () {
            debugger;
            ImageUpload();
        })


        var readURL = function (input) {
            debugger;
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.avatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        // btn_FileUpload
        $(".file-upload").on('change', function () {
            debugger;
            readURL(this);
        });



    });


    function ImageUpload() {
        if (confirm("Are you sure wants to change ?")) {
            debugger;
            var fileData = new FormData();
            var files = $("#profilePicture").get(0).files;
            if (files.length > 0) {
                fileData.append(files[0].name, files[0]);
            }
            $.ajax({
                type: "POST",
                url: "/User/NewUser/ProfilepicUpdate",
                processData: false,
                contentType: false,
                data: fileData,
                success: function (response) {
                    alert(response);
                    getUserDetailsByLoggedInUser();
                    location.reload();
                },
                failure: function (response) {
                    alert(response);
                },
                error: function (response) {
                    alert(response);
                }
            });
        }
        else {
            $('#btnDiscard').click();
        }
    }

    function getUserDetailsByLoggedInUser() {
        debugger;
        $.ajax({
            type: "GET",
            url: "/User/NewUser/getUserDetailsByLoggedInUser",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                debugger;
                $("#lbl_Rolename").text(response[0].RoleDesc);
                $("#lbl_Username").text(response[0].Name);
                $("#lbl_Name").text(response[0].Name);
                $("#lbl_Outletame").text(response[0].outletname);
                $("#lbl_Empcode").text(response[0].EmpCode);
                $("#lbl_Emailid").text(response[0].Email);
                $("#lbl_Desgname").text(response[0].Designation_Name);
                $("#lbl_PhoneNo").text(response[0].Phone);
                //$("#image" + i).attr("src", 'data:image/png;base64,' + response[0].image);

                if (response[0].image != "") {
                    $("#imgProfile11").attr('src', response[0].image);
                }
                else {
                    $("#imgProfile11").attr('src', "http://ssl.gstatic.com/accounts/ui/avatar_2x.png");
                }
                $imgSrc = $("#imgProfile11").attr('src');
            },
            failure: function (response) {
                alert(response);
            },
            error: function (response) {
                alert(response);
            }
        });
    }
</script>

